<div class="container mt-5">
  <div class="d-flex justify-content-between mb-2">
    <input type="text" [(ngModel)]="filtro" placeholder="Digite para filtrar" class="form-control"
      style="width: 40% !important">
    <button type="button" class="btn btn-primary" [routerLink]="['cadastro']">
      <i class="fa-solid fa-plus"></i> Add novo usuário
    </button>
  </div>
  <div class="table-responsive">
    <app-tabela [headers]="headers" [data]="usuarios" [exibirBotaoDeletar]="true" [filtro]="filtro"
      [callbackFiltrar]="callbackFiltrar" (deletar)="deletarUsuario($event)">
    </app-tabela>
  </div>
</div>