<div class="container mt-5">
  <div class="d-flex justify-content-between mb-2">
    <input type="text" [(ngModel)]="filtro" placeholder="Digite para filtrar" class="form-control width-40">
    <button type="button" class="btn btn-primary" [routerLink]="['cadastro']">
      <i class="fa-solid fa-plus"></i> Add nova pauta
    </button>
  </div>
  <div class="table-responsive">
    <app-tabela [headers]="headers" [data]="pautas" [exibirBotaoDetalhe]="true"  [exibirBotaoDeletar]="true" [filtro]="filtro"
      [callbackFiltrar]="callbackFiltrar" (detalhe)="detalhesPauta($event)" (deletar)="deletarPauta($event)">
    </app-tabela>
  </div>
</div>