body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: darkseagreen !important;
}

.mensagem-erro {
  color: red;
}

.centro-tela {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.margin-top {
  margin-top: 6.5rem;
}

.alinhar-texto-direita {
  text-align: right;
}

.width-40 {
  width: 40% !important
}